#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Edge styles */
.selected-edge {
  stroke-width: 3 !important;
  stroke: #3b82f6 !important;
}

.selected-edge.animated {
  stroke-dasharray: 5;
  animation: dashdraw 0.5s linear infinite;
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
}
